@use "../variables";

form {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: var(--spacing-2);
}

.form-field {
	display: block;
	width: 100%;

	label {
		display: block;
	}

	&.full-width {
		grid-column: 1 / -1;
	}
}
