.login {
	&-container {
		display: flex;
		align-items: center;
		justify-content: center;
		height: 100vh;
	}

	&-card {
		margin: 0 auto;
		box-shadow: rgba(100, 100, 111, 0.1) 0px 7px 29px 0px;
		border-radius: 1rem;
		overflow: hidden;
		padding: var(--spacing-2);
		background-color: white;
		padding-bottom: 40px;
	}

	&-form-container {
		width: 24rem;
	}

	&-title {
		font-size: 1.5rem;
		font-weight: bold;
		margin: 0;
		text-align: center;
	}

	&-subtitle {
		margin: var(--spacing-2) 0 var(--spacing-3) 0;
		text-align: center;
	}

	&-button {
		width: 100%;
		background-color: #3b82f6;
		color: white;
		padding: 0.5rem;
		border-radius: 0.25rem;
		margin-top: var(--spacing-2);

		&:hover {
			background-color: #2563eb;
		}

		&:disabled {
			opacity: 0.5;
		}
	}
}

.logo {
	width: 6rem;
	height: 6rem;

	&-container {
		display: flex;
		align-items: center;
		justify-content: center;
		margin-bottom: 1rem;
	}
}

.error-message {
	background-color: #fee2e2;
	color: #b91c1c;
	padding: 0.75rem;
	border-radius: 0.25rem;
	margin-bottom: 1rem;
}

.form {
	&-group {
		margin-bottom: 1rem;
	}

	&-label {
		display: block;
		color: #374151;
		margin-bottom: 0.5rem;
	}

	&-input {
		width: 100%;
		padding: 0.5rem;
		border: 1px solid #d1d5db;
		border-radius: 0.25rem;
		margin-top: 0.25rem;
	}
}

.divider {
	text-align: center;
	color: #6b7280;
	margin: 1rem 0;
}

.google-button {
	width: 100%;
	background-color: white;
	box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
	border-radius: 100px;
	color: #374151;
	padding: 12px;
	width: 100%;
	max-width: 280px;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: var(--spacing-1);
	font-weight: 600;
	margin: var(--spacing-2) auto 0 auto;

	svg {
		width: 1em;
		height: 1em;
	}

	&:hover {
		background-color: #f9fafb;
	}
}

.signup {
	&-container {
		margin-top: var(--spacing-3);
		text-align: center;
	}

	&-text {
		color: #4b5563;
	}

	&-link {
		color: var(--colors-brand-primary);
		text-decoration: none;

		&:hover {
			color: #2563eb;
		}
	}
}
